<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title !== 'undefined' ? `${title} | Dataset Curation App` : 'Dataset Curation App' %></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" type="image/svg+xml" href="/logo.svg">
    <%- defineContent('style') %>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <button id="menu-toggle" aria-label="Toggle menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href="/"><img src="/logo.svg" alt="Logo" class="logo"></a>
                <h1>Dataset Curation App</h1>
            </div>
        </header>
        <div class="content-wrapper">
            <nav id="side-menu">
                <ul>
                    <li><a href="/add">Add Instruction-Output Pair</a></li>
                    <li><a href="/pairs">View Instruction-Output Pairs</a></li>
                    <li><a href="/export">Export Dataset</a></li>
                    <% if (typeof user !== 'undefined' && user && user.roles.includes('admin')) { %>
                        <li><a href="/register">Register New User</a></li>
                    <% } %>
                    <% if (typeof user !== 'undefined' && user) { %>
                        <li><a href="/change-password">Change Password</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>
                    <% } %>
                </ul>
            </nav>
            <main id="main-content">
                <%- body %>
            </main>
        </div>
        <footer>
            <!-- Common footer content -->
        </footer>
    </div>
    <%- defineContent('script') %>
    <script src="/js/main.js"></script>
    <%- script %>
</body>
</html>
